<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이디야 | 음료</title>
    <!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/beverage.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-title">
            <a href="./home.html">
                <img src="../image/ediyalogo.gif">
            </a>
            
        </div>
        <ul class="nav-items">
            <li class="nav-item">
                <a class="nav-link">이디야 디자인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">회원가입</a>
            </li>
            <li class="nav-item-activated">
                <a class="nav-link">이디야 음료</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./award.html">이디야 뉴스</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">매장찾기</a> 
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="drinks-container" id="drinks-container">

        </div>
    </div>

    <div class="modal-outer" id="modal-outer">
        <div class="modal" id="modal">

            <img class="modal-exit" id="modal-exit" src="../image/modalExit.svg" alt="X"/>

            <div class="modal-head">
                <div class="modal-title-kr" id="modal-title-kr">title</div>
                <div class="modal-title-en" id="modal-title-en">title</div>
                <div class="modal-head-divider"></div>
                <div class="modal-head-description" id="modal-head-description">블라블라</div>
            </div>


            <div class="modal-footer">
                <div class="modal-footer-detail-left">
                    <div class="modal-footer-detail" >칼로리</div>
                    <div class="modal-footer-detail" >당류</div>
                    <div class="modal-footer-detail" >단백질</div>
                </div>
                <div class="modal-footer-detail-left-val">
                    <div class="modal-footer-detail" id="cal"></div>
                    <div class="modal-footer-detail" id="sugar"></div>
                    <div class="modal-footer-detail" id="protein"></div>
                </div>
                <div class="modal-footer-divider"></div>
                <div class="modal-footer-detail-right">
                    <div class="modal-footer-detail">포화지방</div>
                    <div class="modal-footer-detail">나트륨</div>
                    <div class="modal-footer-detail">카페인</div>
                </div>
                <div class="modal-footer-detail-right-val">
                    <div class="modal-footer-detail" id="fat"></div>
                    <div class="modal-footer-detail" id="na"></div>
                    <div class="modal-footer-detail" id="caffeine"></div>
                </div>
            </div>

        </div>
    </div>

    <img class="gototop" id="gototop" src="../image/GoToTop.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../js/beverage.js"></script>
</body>
</html>