<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>이디야 | Home</title>
</head>
<body>
    <nav class="navbar">
        <a class="nav-title" href="./home.html">
          <img src="../image/ediyalogo.gif">
        </a>
        <ul class="nav-items">
          <li class="nav-item">
            <a class="nav-link" href="#">이디야 디자인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./beverage.html">이디야 음료</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./news.html">이디야 뉴스</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">매장찾기</a>
          </li>
        </ul>
    </nav>
    <div class="home-top">
      <div class="home-top-blue">
          <h1 class="home-title">
            <span>
                ALWAYS BESIDE YOU
            </span>
            <span>
                EDIYA COFFEE
            </span>
          </h1>
        <hr class="home-divider"/>
        <div class="home-title2">
            늘 당신곁에, 이디야 커피의 새로운 메뉴를 맛보세요.
        </div>
        <a class="home-button" href="./beverage.html">
          메뉴 보기
        </a>
        <img class="shake1" src="../image/치즈가 쿠키했대 쉐이크.png"/>
        <img class="shake1-desc" src="../image/치즈가 쿠키했대.png"/>
        <img class="shake2" src="../image/초고묻고더블,밥대신라이크 쉐이크.png"/>
        <img class="shake2-desc1" src="../image/초코 묻고 더블.png"/>
        <img class="shake2-desc2" src="../image/밥대신 라이스.png"/>
      </div>
    </div>

    <div class="home-content">
        <div class="home-content-left" id="iframe"></div>
        <div class="home-content-right">
            <div class="notice">
                <div class="notice-button">
                    <a class="notice-button-title" href="./notice.html">NOTICE</a>
                    <div class="notice-button-list">
                        <button class="notice-buttons" id="notice-button-down">
                          <img src="../image/arrowPrev.svg"/>
                        </button>
                        <button class="notice-buttons" id="notice-button-up">
                          <img src="../image/arrowNext.svg"/>
                        </button>
                    </div>
                </div>
                <div class="notice-content">
                    <div class="notice-size">
                        <a class="notice-content-title"  id="notice-content-title" href="./notice.html">
                            
                        </a>
                        <div class="notice-content-date"  id="notice-content-date">
                            
                        </div>
                        <a class="notice-content-content"  id="notice-content-content" href="./notice.html">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news-head">
                    <span>news</span>

                    <a class="news-head-button" href="./news.html">
                        <img src="../image/homePlus.svg"/>
                    </a>

                </div>
                <div class="news-content" id="news-content">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="footer-items">
          <li class="footer-item">
            개인정보처리방침
          </li>
          <li class="footer-item-activated">
            멤버스 이용약관
          </li>
          <li class="footer-item">
            가맹 안내
          </li>
          <li class="footer-item">
            대량쿠폰구매
          </li>
          <li class="footer-item">
            채용안내
          </li>
          <li class="footer-item">
            고객의 소리
          </li>
          <li class="footer-item">
            사이트맵
          </li>
          <li class="footer-item">
            점주의 방
          </li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../js/home.js"></script>
</body>
</html>