<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/notice.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>이디야 | 공지</title>
</head>
<body>
    <nav class="navbar">
        <a class="nav-title" href="./home.html">
          <img src="../image/ediyalogo.gif">
        </a>
        <ul class="nav-items">
          <li class="nav-item">
            <a class="nav-link">이디야 디자인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./beverage.html">이디야 음료</a>
          </li>
          <li class="nav-item-activated">
            <a class="nav-link">이디야 뉴스</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">매장찾기</a>
          </li>
        </ul>
    </nav>
    <ul class="menu">
        <li class="menu-item-activated">
            공지사항
        </li>
        <li class="menu-item">
          <a href="./news.html">
            언론 속 이디야
          </a>
        </li>
        <li class="menu-item">
            홍보영상
        </li>
        <li class="menu-item">
            <a href="./award.html">
                수상내역
            </a>
        </li>
    </ul>

    <div class="title">
        <div>
            <h3>
              <img src="../image/slash.svg"/>
              공지사항
            </h3>
            <h5>이디야의 공지사항입니다.</h5>
        </div>  
    </div>
    <footer class="footer">
        <ul class="footer-items">
          <li class="footer-item">
            개인정보처리방침
          </li>
          <li class="footer-item-activated">
            멤버스 이용약관
          </li>
          <li class="footer-item">
            가맹 안내
          </li>
          <li class="footer-item">
            대량쿠폰구매
          </li>
          <li class="footer-item">
            채용안내
          </li>
          <li class="footer-item">
            고객의 소리
          </li>
          <li class="footer-item">
            사이트맵
          </li>
          <li class="footer-item">
            점주의 방
          </li>
        </ul>
    </footer>
</body>
</html>