.onmodal{
    overflow: hidden;
}

.onload{
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
}

.drinks-container{
    margin: 30px auto auto auto;
    display: grid;
    gap:20px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 373px 373px;
    grid-template-columns: 359px 359px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    width:359px;
    height:373px;
    cursor: pointer;
}

.grid-item img{
    width:204px;
    height:293px;
}

.drink-title{
    text-align: center;
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0F0F0F;
}


.gototop{
    position:fixed;
    right:30px;
    bottom:30px;
}

.modal-outer{
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, 0.3);
}

.modal{
    position:fixed;
    left:calc(50% - 359px / 2);
    top:calc(50% - 373px / 2);
    width:359px;
    height:373px;
    border: 1px solid #CCCCCC;
    background: rgba(255, 255, 255);
    padding:20px 20px 20px 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.modal-exit{
    position:absolute;
    right:16px;
    top:16px;
    border:none;
    background: none;
    padding:0px;
    cursor:pointer;
}

.modal-head * {
    margin-top:10px;
    font-size: 18px;
}

.modal-head-divider{
    border-bottom: 2px solid #0F0F0F;
}

.modal .modal-title-en{
    color: #616161;
    font-size: 14px;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
    margin: auto 42px 10px 20px;
}

.modal-footer > * {
    display: flex;
}

.modal-footer * {
    font-size: 13px;
    line-height: 13px;
}

.modal-footer-detail{
    width:60px;
}

.modal-footer-detail-left > * > * {
    margin : 5px auto auto auto;
}

.modal-footer-detail-right > * > * {
    margin : 5px auto auto auto;
}

.modal-footer-detail-right::before{
    content: "";
    margin-top:5px;
    margin-right:16px;
    border: 0.5px solid #000000;
    width:100%;
}

.onload-outer{
    position:fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, 0.3);
}

.onload-ring {
    display: inline-block;
    position:fixed;
    left:calc(50% - 80px / 2);
    top:calc(50% - 80px / 2);
    width: 80px;
    height: 80px;
}

.onload-ring:after {
content: "";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid #223c87;;
border-color: #223c87 transparent #223c87 transparent;
animation: onload-ring 1.2s linear infinite;
}

@keyframes onload-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.block{
    display: flex;
}