.menu {
    display: flex;
    justify-content: center;
    width: calc(117.41px * 4);
    margin:52.17px 480px 0px 480px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
    
.menu-item {
    width:117.41px;
    height:34.67px;
    color:#223c87;
    font-weight: 700;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
    
.menu-item-activated {
    width:117.41px;
    height:34.67px;
    color:white;
    font-weight: 700;
    background-color: #223c87;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

a{
    color:#223c87;
    text-decoration: none;
}